.back-btn {
    margin: 40px 0 60px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

a { 
    color: inherit;
    text-decoration: none;
} 

.section-2 {
    margin-top: 68px;
}

.country {
    margin: 0 auto;
    padding-bottom: 600px;
    max-width: 85vw;
}

.country-flag-img {
    width: 100%;
    height: 100%;
}

.country-h2 {
    margin-top: 40px;
}

.info {
    display: block;
    margin-top: 20px;
}

.info>* {
    display: inline;
}

.border-countries {
    display: flex;
}

.border-countries>p {
    height: 30px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    cursor: pointer;
}

@media(min-width: 720px) {

    body {
        height: 100vh;
        overflow-y: hidden;
    }

    main.country {
        margin: auto;
    }

    .country {
        overflow: hidden;
    }

    .country-flag-img {
        margin: auto;
        min-height: 300px;
    }

    .country-flag {
        display: flex;
    }

    .section-wrapper {
        margin: auto;
    }

    .info-wrapper {
        display: flex;
        width: 50vw;
    }

    .section-1,
    .section-2,
    .section-3 {
        margin-left: 70px
    }

    .section-3 {
        display: flex;
        flex-wrap: wrap
    }

    .section-3>h3 {
        width: 200px;
    }

    .section-1 *,  .section-2 *, .section-3 *{
        margin: 6px 0;
    }

    .section-2 {
        margin-top: 35px;
    }

    .section-3 {
        margin-top: 50px;
    }
}