.back-btn {
    margin: 40px 0 60px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}
.section-2 {
    margin-top: 60px;
}

.country{
    margin: 0 auto;
    padding-bottom: 600px;
    max-width: 85vw;
}

.country-flag-img {
    width: 100%;
    height: 275px;
}

.country-h2 {
    margin-top: 40px;
}

.info {
    display: block;
    margin-top: 20px;
}

.info > * {
    display: inline;
}