:root {
    --darkBlue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --veryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
    --veryDarkBlueTxt: hsl(200, 15%, 8%); /* (Light Mode Text) */
    --darkGrey: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --veryLightGrey: hsl(0, 0%, 98%); /* (Light Mode Background) */
    --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
  }

  /* //helper classes */

  .box-styles {
    box-shadow: 0 2px 4px 0 rgba(179, 178, 178, 0.2), 0 3px 10px 0 rgba(179, 178, 178, 0.2);
    border-radius: 5px;
  }

   /* //helper classes */

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--veryLightGrey);
}

header {
    box-shadow: 0 2px 4px 0 rgba(179, 178, 178, 0.2), 0 3px 10px 0 rgba(179, 178, 178, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--veryDarkBlueTxt);
    padding: 0 10px;
    background-color: var(--white);
}

nav .dark-light-mode {
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}

nav .where-in-the-world {
    font-weight: 800;
    font-size: 1.2rem;
}

main {
    margin: 0 20px;
}

.search-box {
    margin-top: 20px;
    padding: 25px 20px;
    background-color: var(--white);
    cursor: pointer;
    color: var(--darkGrey);
}

.search-box > input {
    border-style: none;
    cursor: pointer;
    color: inherit;
}

input:focus {
    outline: none;
}

.filter-by-region {
    margin-top: 20px;
    font-weight: 300;
    cursor: pointer;
    max-width: 50%;
    position: relative;
}

.filter-btn {
    padding: 1.25rem;
    width: 100%;
}

.continent-list {
    padding: 1.25rem;
    margin-top: 5px;
    position: absolute;
    background-color: var(--white);
    width: 100%;
}

.continent-list li {
    padding: 0.4rem;
    list-style: none;
}

.hidden {
    visibility: hidden;
}

.flag-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1440px;
    margin: 0 auto;
}

.country-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

#country-info {
    padding: 20px;
    display: block;
    
}

#country-info span {
    font-weight: 600;
}

.flag img{
    height: 200px;
    width: 300px;
    object-fit: cover;

}

@media (min-width: 720px) {

    nav {
        max-width: 1440px;
        margin: 0 auto;
    }

    nav .dark-light-mode {
        font-size: 1.1rem;
    }

    .search-filter-container {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
    }

    .search-box {
        width: 500px;
    }

    .filter-btn {
        width: 150px;
    }

  .flag-container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
}

@media (min-width: 1000px) {

    .flag-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
  }

  @media (min-width: 1250px) {

    .flag-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }