:root {
    --darkBlue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --veryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
    --veryDarkBlueTxt: hsl(200, 15%, 8%); /* (Light Mode Text) */
    --darkGrey: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --veryLightGrey: hsl(0, 0%, 98%); /* (Light Mode Background) */
    --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
  }

 
  /* //helper classes */

  .box-styles {
    box-shadow: 0 2px 4px 0 rgba(179, 178, 178, 0.2), 0 3px 10px 0 rgba(179, 178, 178, 0.2);
    border-radius: 5px;
    background-color: var(--white);
  }

  .hide {
    display: none;
  }

   /* //helper classes */

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--veryLightGrey);
    color: var(--veryDarkBlueTxt);
}

header {
    box-shadow: 0 2px 4px 0 rgba(179, 178, 178, 0.2), 0 3px 10px 0 rgba(179, 178, 178, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--veryDarkBlueTxt);
    padding: 0 10px;
    background-color: var(--white);
}

nav{
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

nav .where-in-the-world {
    font-weight: 800;
    font-size: 1.2rem;
}

.loading{
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto; 
    margin-bottom: auto;
    width: 5rem;
    height: 5rem;
}

main {
    margin: 0 20px;
}

.search-box {
    margin-top: 20px;
    padding: 25px 20px;
    background-color: var(--white);
    cursor: pointer;
    color: var(--darkGrey);
}

.search-box > input {
    border-style: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.filter-by-region {
    margin-top: 20px;
    font-weight: 300;
    cursor: pointer;
    max-width: 50%;
    position: relative;
}

.filter-btn {
    padding: 1.25rem;
    width: 100%;
}

.continent-list {
    padding: 1.25rem;
    margin-top: 5px;
    position: absolute;
    background-color: var(--white);
    width: 79%;
}

.continent-list li {
    padding: 0.4rem;
    list-style: none;
}

.hidden {
    visibility: hidden;
}

.flag-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1440px;
    margin: 0 auto;
}

.country-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    background-color: var(--white);
}

.country-info {
    padding: 20px;
    display: block;
    
}

#country-info span {
    font-weight: 600;
}

.flag img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

/* Dark Mode */

.dark-mode-body {
    background-color: var(--veryDarkBlue);
    transition: background-color 1s;
    color: var(--white);
  }

.dark-mode-elements {
    color: var(--white);
    background-color: var(--darkBlue);
    box-shadow: 0 2px 4px 0 #1d2a33;
    transition: background-color 1s, color 1s, box-shadow 1s;
  }

.dark-mode-noShadow {
    color: var(--white);
    background-color: var(--darkBlue);
    transition: background-color 1s, color 1s;
}

.light-img {
    background-image: url('./assets/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--darkBlue);
}

.dark-img {
    background-image: url('./assets/giphy-dark.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--white);
}

  /* Light Mode */

.light-mode-body {
    background-color: var(--white);
    transition: background-color 1s;
  }

.light-mode-elements {
    color: var(--veryDarkBlueTxt);
    background-color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(179, 178, 178, 0.2), 0 3px 10px 0 rgba(179, 178, 178, 0.2);
    transition: background-color 1s, color 1s, box-shadow 1s;
  }

.light-mode-noShadow {
    color: var(--veryDarkBlueTxt);
    background-color: var(--white);
    transition: background-color 1s, color 1s;
}

@media (min-width: 720px) {

    .loading {
        margin-top: 7px;
    }

    .light-img, .dark-img {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    nav {
        max-width: 1395px;
        margin: 0 auto;
        padding: 0 20px;
    }

    nav .dark-light-mode {
        font-size: 1.1rem;
    }

    .search-filter-container {
        display: flex;
        justify-content: space-between;
        max-width: 1395px;
        margin: 0 auto;
        align-items: center;
    }

    .search-box {
        width: 500px;
        padding: 18px;
    }

    .filter-btn {
        width: 150px;
        height: 15px;
    }

    .search-box > input {
        height: 15px;
        background-color: inherit;
    }

  .flag-container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
}

@media (min-width: 1000px) {

    .flag-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
  }

  @media (min-width: 1250px) {

    .flag-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }